
.appartement__bloc{
    background-color: #F6F6F6;
    margin-top: 10rem;
        display: flex; 
       flex-wrap: wrap;
       justify-content: space-around;
}


@media only screen and (max-width: 768px) and (min-width : 992px){

}
@media only screen and (width <= 767px){
   .appartement__bloc{
        margin: 4rem 0 10px 10px;
        background-color: white;
        border-radius: 1rem;
        align-items: center;
    }
    
}
